<% e1_tabs = [] %>
  <% @exercise.notes.each do |note| %>
    <% e1_tabs << @E1[note.name.to_sym] if @E1[note.name.to_sym] <= @exercise.high && @E1[note.name.to_sym] >= @exercise.low %>
  <% end %>

  <% h2_tabs = [] %>
  <% @exercise.notes.each do |note| %>
    <% h2_tabs << @H2[note.name.to_sym] if @H2[note.name.to_sym] <= @exercise.high && @H2[note.name.to_sym] >= @exercise.low %>
  <% end %>  

  <% g3_tabs = [] %>
  <% @exercise.notes.each do |note| %>
    <% g3_tabs << @G3[note.name.to_sym] if @G3[note.name.to_sym] <= @exercise.high && @G3[note.name.to_sym] >= @exercise.low %>
  <% end %>
  
  <% d4_tabs = [] %>
  <% @exercise.notes.each do |note| %>
    <% d4_tabs << @D4[note.name.to_sym] if @D4[note.name.to_sym] <= @exercise.high && @D4[note.name.to_sym] >= @exercise.low %>
  <% end %>
  
  <% a5_tabs = [] %>
  <% @exercise.notes.each do |note| %>
    <% a5_tabs << @A5[note.name.to_sym] if @A5[note.name.to_sym] <= @exercise.high && @A5[note.name.to_sym] >= @exercise.low %>
  <% end %>

  <% e6_tabs = [] %>
  <% @exercise.notes.each do |note| %>
    <% e6_tabs << @E6[note.name.to_sym] if @E6[note.name.to_sym] <= @exercise.high && @E6[note.name.to_sym] >= @exercise.low %>
  <% end %>
  
<div class="E1_tabs">
<% e1_tabs.sort![0,3].each do |sorted| %>
  <%= sorted %>
<% end %>
<% e1_tabs.sort![1,3].each do |sorted| %>
  <%= sorted %>
<% end %>
</div>

<div class="H2_tabs">
<% h2_tabs.sort![0,3].each do |sorted| %>
  <%= sorted %>
<% end %>
<% h2_tabs.sort![1,3].each do |sorted| %>
  <%= sorted %>
<% end %>
</div>

<div class="G3_tabs">
<% g3_tabs.sort![0,3].each do |sorted| %>
  <%= sorted %>
<% end %>
<% g3_tabs.sort![1,3].each do |sorted| %>
  <%= sorted %>
<% end %>
</div>

<div class="D4_tabs">
<% d4_tabs.sort![0,3].each do |sorted| %>
  <%= sorted %>
<% end %>
<% d4_tabs.sort![1,3].each do |sorted| %>
  <%= sorted %>
<% end %>
</div>

<div class="A5_tabs">
<% a5_tabs.sort![0,3].each do |sorted| %>
  <%= sorted %>
<% end %>
<% a5_tabs.sort![1,3].each do |sorted| %>
  <%= sorted %>
<% end %>
</div>

<div class="E6_tabs">
<% e6_tabs.sort![0,3].each do |sorted| %>
  <%= sorted %>
<% end %>
<% e6_tabs.sort![1,3].each do |sorted| %>
  <%= sorted %>
<% end %>
</div>
