<div class="E1_tabs">
<% @e1_tabs.sort![0,3].each do |sorted| %>
  <%= sorted %>
<% end %>
</div>

<div class="H2_tabs">
<% @h2_tabs.sort![0,3].reverse.each do |sorted| %>
  <%= sorted %>
<% end %>
</div>

<div class="G3_tabs">
<% @g3_tabs.sort![0,3].each do |sorted| %>
  <%= sorted %>
<% end %>
</div>

<div class="D4_tabs">
<% @d4_tabs.sort![0,3].reverse.each do |sorted| %>
  <%= sorted %>
<% end %>
</div>

<div class="A5_tabs">
<% @a5_tabs.sort![0,3].each do |sorted| %>
  <%= sorted %>
<% end %>
</div>

<div class="E6_tabs">
<% @e6_tabs.sort![0,3].reverse.each do |sorted| %>
  <%= sorted %>
<% end %>
</div>
