<%= form_with url: exercises_path do |form| %>
  <div class="notes">
    <%= "Notes for the exercise" %>
    <br>
    <% @notes.each do |note| %>
      <%= check_box_tag "notes[]", note %>
      <%= note %>
    <% end %>
  </div>
  
  <div class="pattern">
    <%= "Exercise pattern" %>
    <br>
    <% @patterns.each do |pattern| %>
      <%= check_box_tag "pattern", pattern %>
      <%= pattern %>
    <% end %>
  </div>

  <div class="low_fret">
    <%= form.label "lowest fret" %>
    <br>
    <%= form.text_field :low %>
  </div>

  <div class="high_fret">
    <%= form.label "highest fret" %>
    <br>
    <%= form.text_field :high %>
  </div>
  
  <div class="ex_name">
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
  </div>

  <div class="generate">
    <%= form.submit "Generate" %>
  </div
<% end %>
