<%= form_with url: exercises_path do |form| %>
  <div class="notes">
    <%= "Notes for the exercise" %>
    <br>
    <% @notes.each do |note| %>
      <%= check_box_tag "notes[]", note %>
      <%= note %>
    <% end %>
    <br>
    <br>
    <input type="checkbox" onClick="toggle(this)" /> check all<br/>
    <script>
      function toggle(source) {
        checkboxes = document.getElementsByName("notes[]");
        for(var i=0, n=checkboxes.length;i<n;i++) {
          checkboxes[i].checked = source.checked;
        }
      }
    </script>
  </div>
  
  <div class="pattern">
    <%= "Exercise pattern" %>
    <br>
    <% @patterns.each do |pattern| %>
      <%= check_box_tag "pattern", pattern %>
      <%= pattern %>
    <% end %>
  </div>

  <div class="low_fret">
    <%= form.label "lowest fret" %>
    <br>
    <%= form.range_field :low, in: 0..12 %>
    <span id="low_value"></span>
    <script>
      var slider_low = document.getElementById("low");
      var output_low = document.getElementById("low_value");
      output_low.innerHTML = slider_low.value; // Display the default slider value
      
      // Update the current slider value (each time you drag the slider handle)
      slider_low.oninput = function() {
        output_low.innerHTML = this.value;
      }
    </script>
  </div>

  <div class="high_fret">
    <%= form.label "highest fret" %>
    <br>
    <%= form.range_field :high, in: 0..12 %>
    <span id="high_value"></span>
    <script>
      var slider_high = document.getElementById("high");
      var output_high = document.getElementById("high_value");
      output_high.innerHTML = slider_high.value; // Display the default slider value
      
      // Update the current slider value (each time you drag the slider handle)
      slider_high.oninput = function() {
        output_high.innerHTML = this.value;
      }
    </script>
  </div>
  
  <div class="ex_name">
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
  </div>

  <div class="generate">
    <%= form.submit "Generate" %>
  </div
<% end %>

<%= link_to "List of exercises", exercises_path %>
