<header>
  <h1><%= @exercise.name %></h1>
  <p>Notes used:</p>
  <% @exercise.notes.each do |note| %>
    <%= note.name %>
  <% end %>
  </p>
  <p>Lowest fret:</p>
  <%= @exercise.low %>
  <p>Highest fret:</p>
  <%= @exercise.high %>
</header>

<div class="grid-container">
  <div class="E1_str">E1</div>
  <div class="H2_str">H2</div>
  <div class="G3_str">G3</div>
  <div class="D4_str">D4</div>
  <div class="A5_str">A5</div>
  <div class="E6_str">E6</div>

  <%= render "pattern#{@exercise.pattern}" %>
</div>

<b class="another"><%= link_to "Generate another exercise", root_path %></b>
<%= link_to "List of exercises", exercises_path %>
