<header>
  <h1><%= @exercise.name %></h1>
  <p>Notes used:</p>
  <% @exercise.notes.each do |note| %>
    <%= note.name %>
  <% end %>
  </p>
  <p>Lowest fret:</p>
  <%= @exercise.low %>
  <p>Highest fret:</p>
  <%= @exercise.high %>
</header>

<div class="grid-container">
  <div class="E1_str">E1</div>
  <div class="H2_str">H2</div>
  <div class="G3_str">G3</div>
  <div class="D4_str">D4</div>
  <div class="A5_str">A5</div>
  <div class="E6_str">E6</div>

  <div class="E1_tabs">
    <% string_notes = [] %>
    <% @exercise.notes.each do |note| %>
      <% string_notes << @E1[note.name.to_sym] if @E1[note.name.to_sym] <= @exercise.high && @E1[note.name.to_sym] >= @exercise.low %>
    <% end %>
    <% string_notes.sort.each do |sorted| %>
      <%= sorted %>
    <% end %>
  </div>

  <div class="H2_tabs">
    <% string_notes = [] %>
    <% @exercise.notes.each do |note| %>
      <% string_notes << @H2[note.name.to_sym] if @H2[note.name.to_sym] <= @exercise.high && @H2[note.name.to_sym] >= @exercise.low %>
    <% end %>
    <% string_notes.sort.each do |sorted| %>
      <%= sorted %>
    <% end %>
  </div>

  <div class="G3_tabs">
    <% string_notes = [] %>
    <% @exercise.notes.each do |note| %>
      <% string_notes << @G3[note.name.to_sym] if @G3[note.name.to_sym] <= @exercise.high && @G3[note.name.to_sym] >= @exercise.low %>
    <% end %>
    <% string_notes.sort.each do |sorted| %>
      <%= sorted %>
    <% end %>
  </div>

  <div class="D4_tabs">
    <% string_notes = [] %>
    <% @exercise.notes.each do |note| %>
      <% string_notes << @D4[note.name.to_sym] if @D4[note.name.to_sym] <= @exercise.high && @D4[note.name.to_sym] >= @exercise.low %>
    <% end %>
    <% string_notes.sort.each do |sorted| %>
      <%= sorted %>
    <% end %>
  </div>

  <div class="A5_tabs">
    <% string_notes = [] %>
    <% @exercise.notes.each do |note| %>
      <% string_notes << @A5[note.name.to_sym] if @A5[note.name.to_sym] <= @exercise.high && @A5[note.name.to_sym] >= @exercise.low %>
    <% end %>
    <% string_notes.sort.each do |sorted| %>
      <%= sorted %>
    <% end %>
  </div>

  <div class="E6_tabs">
    <% string_notes = [] %>
    <% @exercise.notes.each do |note| %>
      <% string_notes << @E6[note.name.to_sym] if @E6[note.name.to_sym] <= @exercise.high && @E6[note.name.to_sym] >= @exercise.low %>
    <% end %>
    <% string_notes.sort.each do |sorted| %>
      <%= sorted %>
    <% end %>
  </div>
</div>
