<header>
  <h1><%= @exercise.name %></h1>
  <p>Notes used:</p>
  <% @exercise.notes.each do |note| %>
    <%= note.name %>
  <% end %>
  </p>
  <p>Lowest fret:</p>
  <%= @exercise.low %>
  <p>Highest fret:</p>
  <%= @exercise.high %>
</header>

<div class="grid-container">
  <div class="E1_str">E1</div>
  <div class="H2_str">H2</div>
  <div class="G3_str">G3</div>
  <div class="D4_str">D4</div>
  <div class="A5_str">A5</div>
  <div class="E6_str">E6</div>

  <% e1_tabs = [] %>
    <% @exercise.notes.each do |note| %>
      <% e1_tabs << @E1[note.name.to_sym] if @E1[note.name.to_sym] <= @exercise.high && @E1[note.name.to_sym] >= @exercise.low %>
    <% end %>

  <% h2_tabs = [] %>
    <% @exercise.notes.each do |note| %>
      <% h2_tabs << @H2[note.name.to_sym] if @H2[note.name.to_sym] <= @exercise.high && @H2[note.name.to_sym] >= @exercise.low %>
    <% end %>  

  <% g3_tabs = [] %>
    <% @exercise.notes.each do |note| %>
      <% g3_tabs << @G3[note.name.to_sym] if @G3[note.name.to_sym] <= @exercise.high && @G3[note.name.to_sym] >= @exercise.low %>
    <% end %>
  
  <% d4_tabs = [] %>
    <% @exercise.notes.each do |note| %>
      <% d4_tabs << @D4[note.name.to_sym] if @D4[note.name.to_sym] <= @exercise.high && @D4[note.name.to_sym] >= @exercise.low %>
    <% end %>
  
  <% a5_tabs = [] %>
    <% @exercise.notes.each do |note| %>
      <% a5_tabs << @A5[note.name.to_sym] if @A5[note.name.to_sym] <= @exercise.high && @A5[note.name.to_sym] >= @exercise.low %>
    <% end %>

  <% e6_tabs = [] %>
    <% @exercise.notes.each do |note| %>
      <% e6_tabs << @E6[note.name.to_sym] if @E6[note.name.to_sym] <= @exercise.high && @E6[note.name.to_sym] >= @exercise.low %>
    <% end %>
  
  <div class="E1_tabs">
    <% if e1_tabs.sort.first + 5 == h2_tabs.sort.last %>
      <% e1_tabs.shift %>
    <% end %>
    <% e1_tabs.sort.each do |sorted| %>
      <%= sorted %>
    <% end %>
  </div>

  <div class="H2_tabs">
  <% if h2_tabs.sort.first + 4 == g3_tabs.sort.last %>
    <% h2_tabs.shift %>
  <% end %>
    <% h2_tabs.sort.each do |sorted| %>
      <%= sorted %>
    <% end %>
  </div>

  <div class="G3_tabs">
    <% if g3_tabs.sort.first + 5 == d4_tabs.sort.last %>
      <% g3_tabs.shift(1) %>
    <% end %>
    <% g3_tabs.sort.each do |sorted| %>
      <%= sorted %>
    <% end %>
  </div>

  <div class="D4_tabs">
    <% if d4_tabs.sort.first + 5 == a5_tabs.sort.last %>
      <% d4_tabs.shift(1) %>
    <% end %>
    <% d4_tabs.sort.each do |sorted| %>
      <%= sorted %>
    <% end %>
  </div>

  <div class="A5_tabs">
    <% if a5_tabs.sort.first + 5 == e6_tabs.sort.last %>
      <% a5_tabs.shift(1) %>
    <% end %>
    <% a5_tabs.sort.each do |sorted| %>
      <%= sorted %>
    <% end %>
  </div>

  <div class="E6_tabs">
    <% e6_tabs.sort.each do |sorted| %>
      <%= sorted %>
    <% end %>
  </div>
</div>
